{% extends "base.html" %}

{% block main %}

    <div class="block">
        <div id="achieve" class="group">
            {% for post in page_info.items %}
                <div class="posts-group">
                    <ul class="posts-list">
                        <li class="post-item">
                            <a href="{{ url_for('post_page.get_post', post_id=post.id) }}">
                <span class="post-day">
                    {{ "{0}".format(post.date)[:11] }}
                </span>
                                <span class="post-title"> {{ post.title }} </span>
                            </a>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>

        <nav role="navigation">
            <ul class="pagination">
                {% for idx in range(page_info.pages) %}
                    <li>
                        <a href="{{ url_for('post_page.list_posts', page=idx+1) }}">{{ idx+1 }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

    </div>

{% endblock %}
