{% extends "base.html" %}

{% block main %}

<!-- <div class="section">
<h1>Category </h1>
</div>
-->

<div class="tags">
{% for item in tag_info %}
<a href="#{{item['tag']}}">{{item['tag']}} {{item['count']}}</a>
{% endfor %}
</div>

{% for item in article_info %}
<div class="tag_title"><h3 id={{item['tag']}}>{{item['tag']}}</h3></div>
    <div class="group">
    {% for article in item['articles'] %}
        <li class="post-item">
            <a href="{{url_for('post_page.get_post', post_id=article.id)}}">
                <span class="post-day">{{article['date']}}</span>
                <span class="post-title">{{article['title']}}</span>
            </a>
        </li>
    {% endfor%}
    </div>
{% endfor %}

{% endblock %}
