@font-face {
    font-family: 'Meslo LG';
    font-style: normal;
    src: local('Meslo LG S'), url("https://cdn.jsdelivr.net/gh/powerline/fonts@master/Meslo%20Slashed/Meslo%20LG%20S%20Regular%20for%20Powerline.ttf") format('truetype');
}

html {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.4;
    font-family: "Menlo", "Meslo LG", monospace;
    color: #2c3e50;
}

p {
    word-break: keep-all;
}

h1 {
    /* text-align: center; */
    color: #c52939;
    margin-bottom: 0;
}

.header-container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.container {
    height: 100%;
    flex: 1;
}

.section {
    padding-bottom: 15px;
}

.section h1 {
    font-size: 24px;
    font-weight: 600;
    color: #2a9d8f;
}

#canvas-wrapper {
    width: 100%;
    text-align: center;
}

canvas {
    display: inline;
}

.section h1::before {
    content: "#";
    color: #c52939;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.tags {
    margin-left: 12px;
    margin-bottom: 30px;
}

.tags a {
    font-size: 12px;
    padding: 2px;
    margin-right: 20px;
    background-color: #c2dfcf;
    color: #333;
    border: 1px solid #2a9d8f;
    border-radius: 6px;
}

.tags-item {
    display: inline-block;
    margin-top: 20px;
}

ul {
    margin-top: 10px;
    padding-left: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    height: 50px;
}

.site-title h1 {
    font-weight: 600;
    font-family: "Merriweather", Georgia, Times, "Times New Roman", serif;
    font-size: 2.5rem;
}

.site-nav a {
    color: #24567c;
    font-size: 16px;
    font-weight: 600;
}

.logo-wrapper {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 60px;
    width: 60px;
}

.group {
    margin-left: 12px;
}

.logo {
    left: -20px;
    bottom: -0.6em;
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 8px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    border-radius: 50%;
}

.menu-item {
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
}

#search-bar {
    float: right;
}

#search-bar input {
    border-radius: 10px;
}

#search-button {
    height: 24px;
    color: #fff;
    border: 1px solid #24567c;
    border-radius: 2px;
    background-color: #24567c;
    padding: 0 20px;
    font-size: 10px;
}

.svg-icon {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
}

.svg-icon svg {
    bottom: -0.125em;
    position: absolute;
}

main {
    flex: 1;
    font-size: 14px;
}

#main {
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.block {
    padding: 1em 4em;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.posts-group {
    margin: auto;
    max-width: 800px;
    position: relative;
    line-height: normal;
}

.posts-year {
    padding-top: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10px;
    opacity: .6;
}

.posts-list {
    margin: 0;
    list-style: none;
}

.post-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

#achieve {
    margin-top: 50px;
    margin-bottom: 50px;
}

.post-title {
    font-size: 16px;
    color: #a00;
}

.post-title:hover {
    text-decoration: underline;
}

.post-day {
    color: grey;
    font-size: 16px;
    margin-right: 16px;
}

.wrapper {
    color: black;
    font-size: 14px;
}

.post-tag {
    color: grey;
    text-align: right;
    font-size: 12px;
}

.posts-group .post-item a {
    color: #800000;
    padding: 0 0 2px 0;
}

.content .post-block .post-header {
    margin-bottom: 20px;
}

.content {
    flex: 1;
}

.post-header h1 {
    font-size: 1.2rem;
}

.post-body {
    font-size: 14px;
    line-height: 1.4;
}

.post-body h2 {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e4e8;
}

.post-body h3 {
    font-weight: 600;
    font-size: 1rem;
}

.post-body h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
}

.post-body h2::before {
    content: "#";
    color: #c52939;
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

.post-body p {
    hyphens: auto;
    line-height: 1.4;
}

.post-body a {
    color: #3673a5
}

.post-body img {
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .posts-group {
        display: block;
    }

    .posts-year {
        margin: -6px 0 8px;
    }

    #main {
        width: 95%;
        margin-top: 30px;
    }

    .block {
        box-shadow: none;
        padding: 0;
        background-color: #fafafa;
    }
}

.pagination {
    text-align: center;
}

.pagination li {
    display: inline;
}

.pagination .current {
    border: solid 1px #2a9d8f;
    border-radius: 5px;
    background: #2a9d8f;
    padding: 0 8px;
    color: white;
}

.tag_title h3 {
    color: #2a9d8f;
    margin-bottom: 5px;
}

footer {
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 0;
    font-size: 11px;
    color: grey;
    width: 100%;
    text-align: center;
}

::marker {
    color: #c52939;
}

.login-body {
    padding-top: 100px;
}

.card-wrapper {
    max-width: 600px;
}